@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.manrope-font-normal {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* shared styles */
.text-primary{
    color: tomato;
    font-weight: 900;
}

.btn-primary{
    background-color: tomato;
    padding: 20px 30px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    align-items: center;
}

/* nav styles */
.nav-bg{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: rgb(255, 243, 228);
}

nav ul li {
    list-style: none;
    margin-right: 25px;
}

li a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

/* header styles */
.header-input-text{
    font-size: 25px;
    color: darkgray;
}

.header-input-title{
    font-size: 50px;
}

.cardImg{
    margin-top: 60px;
}
.card-title{
    margin-top: 40px;
}

.header{
    display: flex;
    align-items: center;
}

.header-description{
    color: darkgray;
}

/* card styles */

.card-input-title{
    text-align: center;
}

.card{
    box-shadow: 0px 6px 50px 6px rgba(0, 0, 0, 0.06);
    gap: 14px;
}

.cards{
    display: flex;
}

/* keep our website styles */
.keep-website-text{
    text-align: center;
}

.keep-website-options{
    display: flex;
    gap: 14px;
}

.keep-website-card{
    display: flex;
}

.keep-website-options{
    margin-left:450px ;
}

.keep-website-title{
    font-size: 25px;
}

/* Delivery styles */

.delivery-text{
    text-align: center;
}

/* footer styles */
.footer{
    background-color: rgb(255, 243, 228);
}

.footer-p{
    font-size: 20px;
    font-weight: 400;
    padding-left: 410px;
    padding-right: 410px;
    padding-top: 39px;
    padding-bottom: 38px;
}